<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    
    <link href="{{url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}"  rel="stylesheet">
    <link href="{{url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
   
  
    <link rel="stylesheet"  href="{{url_for('static', filename='css/style.css')}}">

  
   
    <title>Courses</title>
</head>
<body>
<!-- Modal -->
    <!-- login -->
    <div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <form>
                
                <div class="mb-2">
                <label for="login_name" class="col-form-label">Name</label>
                <input type="text" class="form-control" id="login_name">
                </div>
                <div class="mb-2">
                <label for="login_password" class="col-form-label">Password</label>
                <input type="password" class="form-control" id="login_password">
                </div>
            </form>
            </div>
            <div class="modal-footer">
            <h5 style="left:2px;position:absolute;font-size:14px">You don't hava an account?<a class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#register" data-bs-whatever="@mdo" style="font-size:16px;padding:2px;border:none;">Register</a></h5> 

            <button type="button" class="btn btn-primary" onclick="login()">Login</button>
            </div>
        </div>
        </div>
    </div>
    <!-- /login -->
    <!-- register -->
      <div class="modal fade" id="register" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Register</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="register_form" action="///">
                <div class="input-control">
                    <input id="register_name" name="username" type="text" placeholder="User name">
                    <div class="error"></div>
                </div>
                <div class="input-control">
                    <input id="register_email" name="email" type="text" placeholder="Email">
                    <div class="error"></div>
                </div>
                <div class="input-control">
                  <input id="register_phone" name="phone" type="text" placeholder="Phone">
                  <div class="error"></div>
                </div>
                <div class="input-control"> 
                    <input id="register_password"name="password" type="password" placeholder="Password">
                    <div class="error"></div>
                </div>
                <div class="input-control">
                    <input id="register_password2" name="password2" type="password" placeholder="Confirm password">
                    <div class="error"></div>
                </div>
                
            </form>
               <button id="reg_btn"  onclick="Register()">Sign Up</button>
          
            </div>
        </div>
        </div>
    </div>
    <!-- /register -->

<!-- /Modal -->
    <header>

        <nav id="nav">
            <h1 class="logo">COURSES</h1>
            <div style="display: flex;justify-content:space-between; flex-direction: row;">
                <div id="log_reg">
                    <li><a data-bs-toggle="modal" data-bs-target="#login" data-bs-whatever="@mdo" style="color:#EEEEEE;">Sing in</a></li>
                    <li><a data-bs-toggle="modal" data-bs-target="#register" data-bs-whatever="@mdo" style="color:#EEEEEE;">Register</a></li>
                </div>
                <div id="logged" class="dropdown" style="right: 100px; top:5px;justify-content:space-between; position: relative;">
                    <button id="text_name" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#EEEEEE;font-weight: 700; font-size: 25px;border:none">
                    </button>
                    <img id="img_profile" src="{{url_for('static', filename='img/default_user.png')}}" class="userAvatar"  style="top:15px;height: 60px; width:60px;position: absolute;top:-20px;  right:-95px; margin:5px 25px; border-radius: 50%; border: 2px solid var(--first);">
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li><a class="dropdown-item" href="/">Home</a></li>
                      <li><a class="dropdown-item" href="/settings">Settings</a></li>
                      <li><a class="dropdown-item" href="/my_courses">My Courses</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#" onclick="logout()">Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
       
        <div class="text">
            <h1 id="title" style="color:#EEEEEE;font-weight:600;">With Us Everything Is Easier</h1>
            
        </div>
       
    </header>
     <!-- Counts Section -->
    <section id="counts" class="counts section-bg">
      <div class="container" style="background-color: var(--second);" >
  
        <div class="row counters" style="width:80%; left:125px; position: relative;background-color: var(--second);">
  
          <div class="col-lg-3 col-10 text-center" >
            <span data-purecounter-start="0" data-purecounter-end="275" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>
  
          <div class="col-lg-3 col-6 text-center" >
            <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="1" class="purecounter"></span>
            <p>Courses</p>
          </div>
  
          <div class="col-lg-3 col-6 text-center" >
            <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trainers</p>
          </div>
  
        </div>
  
      </div>
    </section><!-- End Counts Section -->
    <div id="underline"></div>
     
    <section class="projects" id="courses">
        <h1 id="title">Our Courses</h1>
        <p>Your Success Is With Us</p>
        <div class="cards" id="cards">
          
         </div> 
     
        
    </section>

    


    
     <section class="about" id="about">
        <h1 id="title">Trainers</h1>
        
        <div id="container" >
          <div class="slide-container swiper">
              <div class="slide-content">
                  <div id ="trainers" class="card-wrapper swiper-wrapper">

                   
      
                    
                  </div>
              </div>
    
              <div class="swiper-button-next swiper-navBtn"></div>
              <div class="swiper-button-prev swiper-navBtn"></div>
              <div class="swiper-pagination"></div>
          </div>
        </div>
        
    </section>

   

  
    
  <!--Footer  -->
  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>Courses</span></strong>. 
      </div>
    </div>
    <div id="social" class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
       
   
   

    
  <button type="button" id="up"><i class="bi bi-arrow-up-short"></button>
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    
  <script src="{{url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/main1.js')}}"></script>


    
</body>
<script>
    function more(id){
        window.location.assign(`/more_info#${id}`)
    }
    
    function showCourse(){
        const show = document.getElementById('cards')
        var containte
        axios.get(`/allcourses`)
        .then(function (response) {
          courses = response.data.courses
          for (course of courses){
            containte =`
            <div class="card">
                <h3>${course.title}</h3>
                
                <a id="${course.title}" class="moreBtn"  onclick="more(id)">Read more</a>
                <img src='${course.img}' alt="">
                <h4>${course.cost}</h4>
                <h5>${course.subject}</h5>

            </div>`
            show.innerHTML += containte 
          }
        })
      }
      showCourse()

   
    
    

    function login(){
      let loginModal = document.getElementById("login") 
      const modalInstance = bootstrap.Modal.getInstance(loginModal)
      let name = document.getElementById("login_name").value
      let password = document.getElementById("login_password").value
     
      const params = {
        "name":name,
        "password":password
      }
      axios.post(`/login`,params)
      .then(function (response) {
        Swal.fire("Logged in Successfuly", '', 'success')
        localStorage.setItem('token',response.data.token)
        localStorage.setItem('text_user',response.data.text_name)
        localStorage.setItem('photo',response.data.photo)
        localStorage.setItem('email',response.data.email)
        localStorage.setItem('phone',response.data.phone)
        modalInstance.hide()
        setTimeout(function(){
            window.location.reload()
          } ,2500)
          return 
        
      })
      .catch(function (response) {
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: response.request.response,
          })
      })

    }  
    
      function setUi(){
        let state = localStorage.getItem('token')
        const state_loggedd = document.getElementById('logged')
        const state_logout= document.getElementById('log_reg')
        let text_name = document.querySelector("#text_name")
        let img_profile = document.querySelector("#img_profile")
        if (state==null){
            state_logout.style.display = "block"
            state_loggedd.style.display = "none"
        }
        else{
            state_logout.style.display = "none"
            state_loggedd.style.display = "block"
            text_name.innerHTML = localStorage.getItem('text_user')
            img_profile.src = localStorage.getItem('photo')
        }
      }

      setUi()

    
      function getAllTrainers(){
        const body = document.getElementById('trainers')
       
        axios.get('/getteachers')
        .then(function (response) {
        // handle success
        teachers = response.data.teachers;
        for (teacher of teachers){
          info = 
          `

        <div class="card1 swiper-slide" style="width:300px;">
          <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                  <img src='${teacher.img}' alt="" class="card-img">
               
              </div>
          </div>

          <div class="card-content">
              <h2 class="name" style="font-size:20px;font-weight: 600;color: #333;">${teacher.name}</h2>
              <p class="description">${teacher.description}</p>

              
          </div>
      </div>
        `
        body.innerHTML += info
        }

        
       }
       )
      }
      getAllTrainers()

      function logout(){
        localStorage.clear()
        Swal.fire("logged out successfully", '', 'success')
        setTimeout(function(){
            window.location.reload()
          } ,2000)
      }
      



    



        var swiper = new Swiper(".slide-content", {
          slidesPerView:"auto",
          spaceBetween: 25,
          loop: false,
          centerSlide: 'true',
          fade: 'true',
          grabCursor: 'true',
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
            dynamicBullets: true,
          },
        
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        
        
        });
       

    
</script>

