<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/info.css')}}" >
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='css/virtual-select.min.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title id="title_course">Add Course</title>
</head>
<body>
     <nav id="nav">
        <a href="/admin"><h1 class="logo">COURSES</h1></a>  
         
      </nav>
        <div id="info"></div>

        <div class="header" id="containt" style="height:50vh; top:150px;">
            
            <div class="title">
                <div>  
                    <input  id="title" placeholder="title">
                    <p><textarea  id="description"  placeholder="discription" style="height: 200px;width: 400px;resize: none;"></textarea><br></p>  
                </div>
                <div id="addimg">
                    <label for="img" title="Add image">+</label><br>
                    <input type="file" id="img" accept="image/*" onchange="showImg(event)">
                </div>
                
                <img  id="show_img"><br>
                
            </div>
    
                 
            <div class="icons" style="top:400px;">
                <div class="cost_dur">
                    <div class="svg">
                        <svg width="50" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" focusable="false" aria-hidden="true"><path d="M16.24 7.76A5.974 5.974 0 0012 6v6l-4.24 4.24c2.34 2.34 6.14 2.34 8.49 0a5.99 5.99 0 00-.01-8.48zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" fill="currentColor"></path></svg>
                    
                    </div>
                    
                    <div class="durtion">
                        <input  id="week" placeholder="week">
                        <p id="hours"><input  id="hours_week" placeholder="hours_week"></p>
                    </div>
                    
                </div>
            
                <div class="cost_dur">
                    <div class="svg">
                        <svg width="50" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" focusable="false" aria-hidden="true"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm.31-8.86c-1.77-.45-2.34-.94-2.34-1.67 0-.84.79-1.43 2.1-1.43 1.38 0 1.9.66 1.94 1.64h1.71c-.05-1.34-.87-2.57-2.49-2.97V5H10.9v1.69c-1.51.32-2.72 1.3-2.72 2.81 0 1.79 1.49 2.69 3.66 3.21 1.95.46 2.34 1.15 2.34 1.87 0 .53-.39 1.39-2.1 1.39-1.6 0-2.23-.72-2.32-1.64H8.04c.1 1.7 1.36 2.66 2.86 2.97V19h2.34v-1.67c1.52-.29 2.72-1.16 2.73-2.77-.01-2.2-1.9-2.96-3.66-3.42z" fill="currentColor"></path></svg>
                    </div>
                    <div class="cost">
                        <h3>cost</h3>
                        <p><input  id="cost" placeholder="cost"   style="position: relative;bottom:5px;"></p>
                    </div>
                </div>
            </div>
            
        

        </div>
        <div class="about_course" style=" margin-top:100px; top:300px;">
            <div class="overview">
                <h2>At a glance</h2>
                <ul>
                    <li>
                        <span>Subject:</span><label><input  id="subject" placeholder="subject"></label>
                    </li>
                    <li>
                        <span>Level:</span><label><input  id="level" placeholder="level"></label>
                    </li>
                    <li>
                        <span>Prerequisites:</span><label><input  id="prerequisites" placeholder="prerequisites"></label>
                    </li>
                    <li>
                        <span>Language:</span><label><input  id="language" placeholder="language"></label>
                        
                    </li>
                </ul>
            </div>
            <div class="what">
                <h2>What you'll learn</h2>
                <div>
                    <textarea  id="what_learn" placeholder="What you'll learn" style="height: 250px;width: 500px;resize: none;"></textarea>
                <div>
            </div>
        </div>

        <div id="selection">
            <select id="multipleSelect" multiple name="select_trainers" placeholder="Select trainers" data-search="true" data-silent-initial-value-set="true">
              
               
                
            </select>
        </div>
            
        
            
            
            
   
    <button class="enroll" onclick="addCourse()" style="bottom:5px;position:relative;margin:20px;left:50%; transform: translate(-50%);
    ">Add Course</button>

    
</body>
<script  src="{{url_for('static', filename='js/virtual-select.min.js')}}"></script>

<script>
    VirtualSelect.init({ 
        ele: '#multipleSelect' 
      });

    function addCourse(){
        const title = document.getElementById("title").value
        const description = document.getElementById("description").value
        const week = document.getElementById("week").value
        const hours_week = document.getElementById("hours_week").value
        const cost = document.getElementById("cost").value
        const subject = document.getElementById("subject").value
        const level = document.getElementById("level").value
        const prerequisites = document.getElementById("prerequisites").value
        const language = document.getElementById("language").value
        const what_learn = document.getElementById("what_learn").value
        const teachers = document.getElementById('multipleSelect').getDisplayValue()
        var img = document.getElementById("img").files[0]
      
        if (img == null){
            img = null
          }
        
        if (title== "" |description == "" |week == "" |hours_week =="" 
            |cost =="" |subject =="" |level=="" |prerequisites ==""|language ==""|what_learn==""  ){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please check the input fields!',
              })
        }
        else{
            let formData = new FormData()
            formData.append("title",title)
            formData.append("description",description)
            formData.append("week",week)
            formData.append("hours_week", hours_week)
            formData.append("cost",cost)
            formData.append("subject", subject)
            formData.append("level", level)
            formData.append("prerequisites",prerequisites)
            formData.append("language",language)
            formData.append("what_learn", what_learn)
            formData.append("teacher1",teachers )
            formData.append("img", img)
        
            axios.post(`/add`,formData,{
              headers:{
                "Content-Type":"multipart/form-data"
              }
            })
            .then(function (response) {
              
              Swal.fire('Add Course!', '', 'success')
              setTimeout(function(){
                window.location.assign("/admin")
              } ,2500)
       
            })
           
         }
  
          
        }
  

    function showImg(event){
            if(event.target.files.length > 0){
              var src = URL.createObjectURL(event.target.files[0]);
              var preview = document.getElementById("show_img");
              preview.src = src;
              preview.style.display = "block";
            }
          }
    const select_trainers = document.getElementById("multipleSelect").options
    
  
    
   
    
            
   
    
    function getAllTrainers(){
        
        const select = document.getElementById('multipleSelect')
        
        const options = document.querySelector(".vscomp-options")
        axios.get('/getteachers')
        .then(function (response) {
        // handle success
        teachers = response.data.teachers;
        for (teacher of teachers){
            select.addOption({
                "label":`${teacher.name}`,
                "value":`${teacher.id}`
                
                });
                
        }
       
       
        })
    }
    getAllTrainers()

   
</script>

</html>
